{%extends 'admin.html'%} {%block content%}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark py-3 text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bolder" href="#">SMKN4 </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
        <li class="nav-item">
          <a
            class="nav-link active text-light"
            aria-current="page"
            href="{%url 'homepage'%}"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Admin
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a
                class="nav-link active text-dark"
                href="{%url 'tambah_siswa'%}"
                tabindex="-1"
                aria-disabled="true"
                >Tambah Siswa</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-dark"
                href="{%url 'tambah_kelas'%}"
                tabindex="-1"
                aria-disabled="true"
                >Tambah Kelas</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active text-dark"
                href="{%url 'tambahpelanggaran'%}"
                tabindex="-1"
                aria-disabled="true"
                >Tambah Pelanggaran</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a
            class="nav-link active text-light"
            href="{%url 'tambah_pelanggar'%}"
            tabindex="-1"
            aria-disabled="true"
            >Tambah Pelanggar</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active text-light"
            href="{%url 'keluar'%}"
            tabindex="-1"
            aria-disabled="true"
            >Keluar</a
          >
        </li>
      </ul>
      <form class="d-flex" method="post">
        {%csrf_token%}
        <input
          class="form-control me-2"
          name="cari"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</nav> -->

<p>selamat datang {{user}}</p>
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Total Siswa
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Petugas
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{petugas}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              kelas
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{kelas}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Pelanggar
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{langgar}}
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
