{%extends 'admin.html'%} {%block content%}
<h2 class="text-center text-dark fw-bold">
  Documentation Web Pelanggaran SMKN 4
</h2>

<h3 class="text-dark">1.Home Page</h3>
<p>
  homepage adalah halaman awal yang terdapat pada web ini, dan tempilan nya
  berupa data dari para pewlanggar mulai dari nama pelanggar,kelas,jenis
  pelanggarannya,tanggal melakukan pelanggarannya hingga siapa yang telah
  menulis pelanggar tersebut. disana juga di tampilkan icon (+) di gunakan untuk
  shortcut ke page tambah pelanggar
</p>
<img
  src="https://i.postimg.cc/59p7VbyD/image.png"
  width="100%"
  alt="image"
  class="pb-3"
/>
<h3 class="text-dark">2.Login Page</h3>
<p>
  Halaman login digunakan untuk menuju adminpage ini merupakan sebuah validasi
  agar tidak sembarangan orang bisa menambahkan data pelanggar,untuk mengakses
  web ini kalian bisa ke icon tambah (+) pada homepage atau langsung memasukan
  url /masuk/
</p>
<img
  src="https://i.postimg.cc/yNJZxqm1/image.png"
  width="100%"
  class="pb-3"
  alt="image"
/>
<h3 class="text-dark">3.Dashboard</h3>
<p>
  Dashboard page adalah halaman utama atau pusat kendali pada sebuah aplikasi
  atau sistem informasi yang menampilkan informasi penting dan statistik terkait
  kinerja dan performa sistem tersebut. Pada konteks yang disebutkan, dashboard
  page menampilkan data siswa, data pelanggar, serta total petugas dan total
  pelanggaran. Fungsi dari dashboard page tersebut adalah untuk memberikan
  gambaran yang cepat dan mudah dipahami tentang situasi dan kondisi terkini
  terkait data siswa, data pelanggar, dan performa petugas dalam menangani
  pelanggaran. Dengan informasi yang tersaji pada dashboard page, pengguna
  sistem dapat dengan mudah memantau dan mengevaluasi kinerja sistem dalam
  menangani pelanggaran serta dapat menentukan aksi atau strategi yang tepat
  untuk meningkatkan performa sistem. page ini dapat di akses di adminpage lalu
  pada sidebarnya terdapat dashboard
</p>
<a href="https://ibb.co/smTQ3RG"
  ><img
    src="https://i.ibb.co/LkT6pRW/image.png"
    alt="image"
    border="0"
    class="mx-2"
/></a>
<a href="https://imgbb.com/"
  ><img src="https://i.ibb.co/1TnWytX/image.png" alt="image" border="0"
/></a>
{%endblock%}
