{%extends 'base.html' %} {%block content%}
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark py-3 text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bolder" href="#">SMKN4 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
        </li>
               <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
             <li class="nav-item">
          <a class="nav-link active text-dark" href="{%url 'tambah_siswa'%}" tabindex="-1" aria-disabled="true">Tambah Siswa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark" href="{%url 'tambah_kelas'%}" tabindex="-1" aria-disabled="true">Tambah Kelas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-dark" href="{%url 'tambah_pelanggar'%}" tabindex="-1" aria-disabled="true">Tambah Pelanggaran</a>
        </li>
          </ul>
        </li>

    
        <li class="nav-item">
          <a class="nav-link active text-light" href="{%url 'tambah_pelanggar'%}" tabindex="-1" aria-disabled="true">Tambah Pelanggar</a>
        </li>
      
    
        <li class="nav-item">
          <a class="nav-link active text-light" href="{%url 'keluar'%}" tabindex="-1" aria-disabled="true">Keluar</a>
        </li>
      </ul>
      <form class="d-flex" method="post">
        {%csrf_token%}
        <input class="form-control me-2" name="cari" type="search" placeholder="Search" aria-label="Search">
       
      </form>
    </div>
  </div>
</nav>
<!-- navbar end -->
<div class="container">


<h2 class="text-center fw-bolder text-dark mt-3 " >Data Pelanggar</h2>

<p class="text-dark fw-bolder ">Jumlah Pelanggar:{{total}} orang</p>
<table class="table mt-3 table-striped">
  <thead class="bg-dark  text-light fw-bold text-center upper">
    <tr>
      <th>Nama Siswa</th>
      <th >Kelas</th>
      <th class="mobile">pelanggaran</th>
      <th>tanggal</th>
      <th >penulis</th>

    </tr>
  </thead>
  <tbody class="bg-light py-3">
    <tr {%for p in langgar%}>
      <td><a href="/detail/{{p.siswa.id}}" class="text-decoration-none">{{p.siswa.nama_siswa}}</a></td>
      <td >{{p.siswa.kelas}}</td>
      <td class="mobile">{{p.pelanggaran}}</td>
      <td>{{p.tanggal}}</td>
      <td >{{p.user}}</td>
     
    </tr {%endfor%}>
  </tbody>
</table>
</div>
{%endblock%}
