{%extends 'admin.html'%} {%block content%}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tambah Pelanggar</h6>
  </div>
  <div class="card-body">
    <form method="post">
      {%csrf_token%} {%if messages%} {%for m in messages%}
      <div class="alert alert-success" role="alert">{{m}}</div>
      {%endfor%} {%endif%} {{form.as_p}}
      <button type="submit" class="btn btn-primary">Tambah</button>
    </form>
  </div>
</div>

{%endblock%}
